*__init__.py
*.pyc
*~
*.pdf
*.png
*.txt
*.d
*.so
*.log
*.history
*.__afs*
NMSSM_Higgs_a9_H1115_H2125_H3500_H2SMLike_WH_Summer12_DR53X/
NMSSM_Higgs_a9_H1125_H2500_H3500_WH/
v[0-9]*/
NMSSMSignal_MuProperties_*.root
HPSTauEff.root
HPSTauEff_final.root
HPSTauPTEff.root
HPSTauPTEff_final.root
HPSTauPTEtaDMFEff.root
HPSTauPTEtaDMFEff_final.root
HPSTauPTEtaDMFIsoEff.root
HPSTauPTEtaDMFIsoEff_final.root
HPSTauPTEtaEff.root
HPSTauPTEtaEff_final.root
softMuEtaEff.root
softMuEtaEff_final.root
softMuPTEff.root
softMuPTEff_final.root
Summer12_DR53X_NMSSMHiggs.root
Summer12_DR53X_NMSSMHiggs_JOBNUM.root
histProbFunction.root
write2DHistograms.C
*AOD*_skim*/
multicrab_[0-9]*_[0-9]*/
CondFormats/
DataFormats/
PhysicsTools/
RecoLuminosity/
RecoTauTag/
Toolset/
dummy.root
gen*root
iso*root
GluGlu_*/
*speed_test*
BoostedTauAnalysis/GenMatchedRecoObjectProducer/test/*.root
*NMinus1*
*Mu40*
*WMuHLTEff*.root
*noBVeto*
*jet_requirement*
*noMTFilter*
*no*SSFVeto*
*tauMuMT*
testRegionCAndDFits.C